body {
  display: flex;
  margin: 0;
}

.contenedor {
  display: grid;
  background-color: rgb(202, 202, 202);
  grid-template-areas:
    "inside content"
    "inside footer";
  grid-template-columns: 250px 1fr;
  grid-template-rows: auto auto;
  width: 100%;
}

.inside {
  grid-area: inside;
  box-sizing: border-box;
  white-space: nowrap;

}

.content {
  grid-area: content;
  padding-right: 25px;
  overflow-y: hidden;
}

.footer {
  grid-area: footer;
}

@media (max-width: 768px) {
  .contenedor {
    grid-template-areas:
      "inside"
      "content"
      "footer";
    grid-template-columns: 1fr;
  }

  .inside {
    display: none;
    width: 100% !important;
    height: 100% !important;
    position: relative;
    box-sizing: border-box;
    white-space: nowrap;
  }

  .content {
    padding: 0 20px;
  }
}